@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --bg-warning: rgb(185, 185, 0);
  --bg-success: rgb(0, 185, 0);
  --bg-info: rgb(0, 185, 185);
  --bg-danger: rgb(185, 0, 0);

  --bg-warning-hover: rgba(185, 185, 0, 0.7);
  --bg-success-hover: rgba(0, 185, 0, 0.7);
  --bg-info-hover: rgba(0, 185, 185, 0.7);
  --bg-danger-hover: rgba(185, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(88, 88, 88);
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: white;
}

.library {
  display: grid;
  row-gap: 2rem;
}

h1 {
  text-align: center;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

tr,
td,
th {
  padding: 10px;
}

.mw-400 {
  max-width: 400px;
}

.mw-300 {
  max-width: 300px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 0.3em 1.2em;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: 1em;
}

.btn-info {
  background-color: var(--bg-info);
}

.btn-warning {
  background-color: var(--bg-warning);
}

.btn-danger {
  background-color: var(--bg-danger);
}

.btn-success {
  background-color: var(--bg-success);
}

.btn-info:hover {
  background-color: var(--bg-info-hover);
}

.btn-warning:hover {
  background-color: var(--bg-warning-hover);
}

.btn-danger:hover {
  background-color: var(--bg-danger-hover);
}

.btn-success:hover {
  background-color: var(--bg-success-hover);
}

.m-lr10 {
  margin: 0 10px;
}

/* Form */
label {
  display: block;
}

.add-data {
  width: 25%;
  display: grid;
  row-gap: 2em;
}

.form-group {
  display: grid;
  row-gap: 1.3em;
}

input {
  width: 100%;
  padding: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

/* Detail */
.detail-book {
  display: grid;
  row-gap: 1.5em;
}
