<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Tambah Buku</title>
  </head>
  <body>
    <div class="container">
      <div class="add-data">
        <h1>Tambah Buku</h1>
        <form action="/" method="post">
          <div class="form-group">
            <div class="form-item">
              <label for="title">Judul buku</label>
              <input type="text" name="bookTitle" id="title" required />
            </div>
            <div class="form-item">
              <label for="writer">Penulis buku</label>
              <input type="text" name="bookWriter" id="writer" required />
            </div>
            <div class="form-item">
              <label for="publisher">Penerbit</label>
              <input type="text" name="bookPublisher" id="publisher" required />
            </div>
            <div class="form-item">
              <label for="publish">Tahun terbit</label>
              <input type="text" name="publicationYear" id="publish" required />
            </div>
            <div class="button-group">
              <a href="/" class="btn btn-warning">Kembali</a>
              <button
                type="submit"
                class="btn btn-success"
                onclick="return confirm('Are you sure the data entered is correct?')"
              >
                Simpan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
