<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Details Book</title>
  </head>
  <body>
    <div class="container">
      <div class="detail-book">
        <h1>Detail Buku</h1>
        <table>
          <tr>
            <th>Judul Buku</th>
            <td>:</td>
            <td><%= book.bookTitle %></td>
          </tr>
          <tr>
            <th>Penulis</th>
            <td>:</td>
            <td class="mw-400"><%= book.bookWriter %></td>
          </tr>
          <tr>
            <th>Penerbit</th>
            <td>:</td>
            <td><%= book.bookPublisher %></td>
          </tr>
          <tr>
            <th>Tahun Terbit</th>
            <td>:</td>
            <td><%= book.publicationYear %></td>
          </tr>
        </table>
        <div class="button">
          <a href="/" class="btn btn-info">Kembali</a>
        </div>
      </div>
    </div>
  </body>
</html>
